<div id="main-wrapper">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <div class="page-wrapper">
    <div class="container-fluid">
      <!-- Bradcrumbs -->
      <app-breadcrumbs></app-breadcrumbs>
      <!-- Mi sistema de rutas -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <!-- This is some text within a card block. -->
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer">© 20xx Admin Pro by wrappixel.com</footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
  </div>
</div>
